<p style="color: green"><%= notice %></p>

<%= render @branch %>

<div>
  <%= link_to "Edit this branch", edit_school_branch_path(@school, @branch) %> |
  <%= link_to "Back to branches", school_branches_path %>

  <%= button_to "Destroy this branch", school_branch_path(@school, @branch), method: :delete, data:{confirm:'Are you sure?'} %>
</div>
